<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Frog QR</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>
<body>
    <h1>Welcome to Frog QR</h1>
    <div class="container2">
    
        <div class="gif-container">
            <img src="/static/img/frog_qr_done.gif" alt="Animated GIF">
        </div>
        <p>Click the below button to downlaod the QR Code</p>
        <form action="{{ url_for('download') }}"method="post">
            <a href="{{ url_for('download') }}" download="myqr.png"><button  name = "feedimg" value="submit_button" class = 'Download_btn'>Download QR Code</button></a>
        </form>
    </div>
    <footer>
        Frog QR - HIMJYOTI TALUKDAR 2024
    </footer>
</body>
</html>


<!--  Code For displaying the qr code before downloading       
    <div class="qr-container">
        <img src="{{ image_path }}" alt="QR Code">
    </div>
-->>