<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Frog QR</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>
<body>
    <h1>Welcome to Frog QR</h1>
    <img src="/static/img/favicon.png" class ="logoimg" alt="logoimg">


    <div class="container">
        <form  method="POST" action="{{ url_for('index') }}">
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <p>Enter the link to generate the QR code</p>
            <input type="text"  name ="url" class = "input_field" placeholder="Enter your url"><br>
    
            <button type= "submit" class="Generate_btn">Generate</button>
        </form>
        
    </div>
    <footer>
        Frog QR - HIMJYOTI TALUKDAR 2024
    </footer>
</body>
</html>
